<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Sidebar Dashboard Template With Sub Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>

    <!--wrapper start-->
    <div class="wrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title" style="font-size: 20px;">Smart <span>Door Lock</span></div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                    <!-- <li><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="#"><i class="fas fa-bell"></i></a></li> -->
                    <li><a ><i id = "mybutton" class="fas fa-lock-open"></i></a></li>
                </ul>
            </div>
        </div>
        <!--header menu end-->
        <!--sidebar start-->
        <div class="sidebar" style="height: 100%;">
            <div class="sidebar-menu">
                <center class="profile">
                    <img src="{{ url_for('static', filename='image/home.png') }}" alt="">
                </center>
                <li class="item">
                    <a href="index.html" class="menu-btn">
                        <i class="fas fa-desktop"></i><span>Dashboard</span>
                    </a>
                </li>
                <li class="item" id="profile">
                    <a href="storage.html" class="menu-btn">
                        <i class="fas fa-user-circle"></i><span>Profile </span>
                    </a>
                </li>
                <li class="item">
                    <a href="add_new.html" class="menu-btn">
                        <i class="fas fa-info-circle"></i><span>About</span>
                    </a>
                </li>
            </div>
        </div>
        <!--sidebar end-->
        <!--main container start-->
        <div class="main-container" style="background-image: url('/static/image/BG1.jpg');">
            <img src="{{ url_for('video_feed') }}" style="border-radius: 50px; margin-left: auto; margin-right: auto;"
                height="95%">
        </div>
        <!--main container end-->
    </div>
    <!--wrapper end-->

    <script type="text/javascript">
        $(document).ready(function () {
            $(".sidebar-btn").click(function () {
                $(".wrapper").toggleClass("collapse");
            });
        });
    </script>

    <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/start', { },
    function(data) { }); return false; }); }); </script>

</body>

</html>